<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elmah.Io.Client" version="3.0.0-pre-20" targetFramework="net452" />
  <package id="GoCommando" version="0.91.0" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net452" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="System.Net.Http" version="4.1.0" targetFramework="net452" />
</packages>